<div class="container">

  <div class="header">
    <h4>Create Client</h4>
    <button routerLink="/client-list">Go to Client List</button>
  </div>
  <p>Please fill in this form to create a client.</p>

  <form [formGroup]="clientForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="name">Name:</label>
      <input type="text" id="name" formControlName="name" required>
      <div class="error" *ngIf="clientForm.get('name').hasError('required') && clientForm.get('name').touched">
        Name is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
      <div class="error" *ngIf="clientForm.get('email').hasError('required') && clientForm.get('email').touched">
        Email is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="address">Address:</label>
      <input type="text" id="address" formControlName="address" required>
      <div class="error" *ngIf="clientForm.get('address').hasError('required') && clientForm.get('address').touched">
        Address is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
      <div class="error" *ngIf="clientForm.get('password').hasError('required') && clientForm.get('password').touched">
        Password is required.
      </div>
    </div>
  
    <div class="form-group">
      <label for="repeatPassword">Repeat Password:</label>
      <input type="password" id="repeatPassword" formControlName="repeatPassword" required>
      <div class="error" *ngIf="clientForm.get('repeatPassword').hasError('required') && clientForm.get('repeatPassword').touched">
        Repeat Password is required.
      </div>
    </div>
  
    <button type="submit">Submit</button>
  </form>
  
</div>
  